<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="iconeSincronizar" viewBox="0 0 384 384">
    <title>Sincronizar</title>
    <path fil="rgba(255,255,255,.5)" d="M327.731 172.734c5.938 40.859-6.531 83.891-38.406 115.297-47.094 46.469-119.75 52.188-173.188 17.281l37.438-36.5-137.595-19.188 19.203 134.375 42.015-40.25c75.453 55.625 182.469 50.375 251.032-17.281 39.75-39.219 57.875-91.281 55.625-142.656l-56.125-11.078zM94.73 96.031c47.078-46.469 119.719-52.219 173.156-17.281l-37.5 36.484 137.594 19.203-19.188-134.438-41.969 40.344c-75.469-55.672-182.453-50.359-251.031 17.281-39.75 39.203-57.859 91.266-55.625 142.625l56.125 11.063c-5.938-40.875 6.563-83.859 38.438-115.281z"></path>
  </symbol>
</svg>

<div class="opcoesDaPagina">
  <div class="d-flex">
    <input type="search" placeholder="Busca" id="busca" class="opcoesDaPagina-opcao">
  </div>

  <div class="d-flex">
    <button id="btnMudaLayout" (click)="mudaTexto()" (click)="onClickBtnMudaLayout()" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
      <!-- {{textoMudaLayout}} -->
      <i class="fas {{textoMudaLayout}}" id="icone"></i>
    </button>
    <!-- <button id="btnAjuda" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
    ?
    </button> -->


    <div class="btn-group  ml-3">
      <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ?
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <ul>
          <li class="dropdown-item" *ngFor="let ajuda of ajudas">{{ ajuda.conteudo }}</li>
        </ul>

      </div>
    </div>

    <button id="btnSync" class="opcoesDaPagina-opcao opcoesDaPagina-botao botaoSync botaoSync--sincronizado ml-3">
      <svg class="botaoSync-icone">
        <use xlink:href="#iconeSincronizar"></use>
      </svg>
    </button>
  </div>
</div>