.opcoesDaPagina {
	display: flex;
	font-size: 1rem;
	flex: 1;
	text-align: right;
}

.opcoesDaPagina-opcao {
	font-size: 1em;
	font-size: 1.2em;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    padding: .5em;
    max-width: 15em;
    height: 2.5em;
    background: #FFF;
    overflow: hidden;
    border: none;
    resize: none;
    width: 100%;
    border-radius: 2px;
    min-height: 30px;
}


.opcoesDaPagina-opcao + .opcoesDaPagina-opcao {
	margin-left: 1em;
}

.opcoesDaPagina-botao {
	padding: .5em;
	max-width: 4.5em;
	border: none;
	background:#ff7900;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
	
}

.opcoesDaPagina-opcao#busca {
	padding: .2em;
 	border: 1px solid #d9d9d9;
	border-radius: 2px;
}


.opcoesDaPagina-opcao#mudaLayout {
  display: none;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius:5px !important;
    border-bottom-right-radius: 5px !important;
    background: #ff7900;
    border-color: #ff7900;
}


.dropdown-menu{
	background: e7e7e7 !important;

}
.dropdown-menu ul{
margin-bottom: 0 !important;
}
.dropdown-menu ul li{
	border-bottom: 1px solid #e7e7e7;
}
.dropdown-menu ul li:last-child {
	border-bottom:0 !important;
}
.dropdown-item {
    display: flex;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    flex-wrap: wrap;
    background: white !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #16181b !important;

}
@media (min-width: 610px){
	.opcoesDaPagina-opcao#mudaLayout{
		display: inline-block;
	}
}


@media (min-width: 992px){
.opcoesDaPagina {
	min-width: 200px;
	justify-content: space-between;
}
input#busca {
    position: absolute;
    top: 3%;
    right: 24%;
}

}
@media (max-width: 480px){
	.opcoesDaPagina-opcao#busca{
		margin-top:20px;
		margin-bottom: 20px;
	}

}

